@font-face {
    src: url("./ComicNeue-Bold.ttf");
    font-family: ComicNeueBold;
}

@font-face {
    src: url("./ComicNeue-Light.ttf");
    font-family: ComicNeueLight;
}

@font-face {
    src: url("./ComicNeue-Regular.ttf");
    font-family: ComicNeueRegular;
}