.cost-container {
    .range-header {
        font-size: 25px;
        font-weight: 600;
        cursor: pointer;
        user-select: none;
        font-family: ComicNeueBold;
    }

    .cost-count {
        font-family: ComicNeueBold;
        font-size: 20px;
    }
}