.header-navbar {
    display: flex;
    justify-content: center;
    font-size: 55px;
    font-family: ComicNeueBold;
}

.routing-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    .navbar {
        display: flex;
        justify-content: flex-end;
        cursor: pointer;
        font-size: 30px;

        &_sub-item {
            padding-right: 30px;
            color: rgb(56, 151, 228);
            font-family: ComicNeueBold;
        }
    }
}